

<div class="movie-form-page-container">
  <div class="movie-form-content-wrapper">
    <h1 class="page-title"><%= t('devise.title_register') %></h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "movie-form" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field-group">
        <%= f.label :email, class: "form-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input" %>
      </div>

      <div class="field-group">
        <%= f.label :password, t('devise.password'), class: "form-label" %>
        <% if @minimum_password_length %>
          <em class="form-hint">(<%= @minimum_password_length %> <%= t('devise.caracteres')%>)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-input" %>
      </div>

      <div class="field-group">
        <%= f.label :password_confirmation, t('devise.confirmed_password'), class: "form-label" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-input" %>
      </div>

      <div class="actions">
        <%= f.submit t('devise.register'), class: "submit-button" %>
      </div>
    <% end %>

    <div class="back-link-container additional-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>