<%= form_with(model: movie, local: true, class: "movie-form") do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation" class="form-errors">
      
      <h2><%= I18n.t("errors.messages.not_saved",
                count: movie.errors.count,
                resource: movie.class.model_name.human) %>
      </h2>
      <ul>
        <% movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field-group">
    <%# form.label automaticamente busca a tradução em activerecord.attributes.movie.<attribute> %>
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-input" %>
  </div>

  <div class="field-group">
    <%= form.label :synopsis, class: "form-label" %>
    <%= form.text_area :synopsis, class: "form-textarea" %>
  </div>

  <div class="field-group">
    <%= form.label :release_year, class: "form-label" %>
    <%= form.number_field :release_year, class: "form-input" %>
  </div>

  <div class="field-group">
    <%= form.label :duration, class: "form-label" %>
    <%= form.number_field :duration, class: "form-input" %>
  </div>

  <div class="field-group">
    <%= form.label :director, class: "form-label" %>
    <%= form.text_field :director, class: "form-input" %>
  </div>

  <div class="field-group">
    <%= form.label :cast, class: "form-label" %>
    <%= form.text_area :cast, class: "form-textarea" %>
  </div>

  <div class="field-group">
    <%= form.label :poster, class: "form-label" %>
    <%= form.file_field :poster, class: "form-input" %>
    <% if movie.poster.attached? %>
      <div class="current-poster-preview">
        <%= image_tag movie.poster.variant(resize_to_limit: [150, 225]), class: "poster-preview-image" %>
        <span class="poster-filename"><%= movie.poster.filename %></span>
      </div>
    <% end %>
  </div>

  <div class="field-group">
    <%= form.label :genre_ids, class: "form-label" %>
    <div class="genres-checkbox-group">
      <%= form.collection_check_boxes :genre_ids, Genre.all, :id, :name do |b| %>
        <div class="checkbox-item">
          <%= b.check_box class: "genre-checkbox" %>
          <%= b.label class: "genre-label" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="actions">
   
    <%= form.submit "Salvar Filme", class: "submit-button" %>
  </div>
<% end %>